adminUser: admin
adminPassword: admin
service:
  type: ClusterIP
  port: 3000
ingress:
  enabled: true
  hosts:
    - host: app-monitor.local
      paths:
        - /
  annotations:
    kubernetes.io/ingress.class: nginx
