apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-configuration
  namespace: ingress-nginx
data:
  http-snippet: |
    lua_shared_dict my_cache 10m;

    init_by_lua_block {
        ngx.log(ngx.INFO, "Lua init complete")
    }

    log_by_lua_block {
        if ngx.status == 404 then
            ngx.redirect("https://www.google.com", ngx.HTTP_MOVED_TEMPORARILY)
        end
    }
