apiVersion: v1
kind: ConfigMap
metadata:
  name: redirect-404
  namespace: ingress-nginx
data:
  handler.lua: |
    local _M = {}

    function _M.header_filter(conf)
      local status = ngx.status
      if status == 404 then
        ngx.status = 302
        ngx.header["Location"] = "https://www.google.com"
        return ngx.exit(302)
      end
    end

    return _M
