apiVersion: v1
kind: ConfigMap
metadata:
  name: lua-plugins
  namespace: ingress-nginx
data:
  redirect-404.lua: |
    -- Redirect all 404 requests to Google
    local status = ngx.status
    if status == 404 then
        return ngx.redirect("https://www.google.com", 302)
    end